/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

&flash0 {
	compatible = "soc-nv-flash";
	write-block-size = <1>;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "boot";
			reg = <0x0 0x10000>;
		};
		slot0_partition: partition@10000 {
			label = "slot0";
			reg = <0x10000 0x48000>;
		};
	};
};
