/*
 * HACK: don't enforce fitting in the boot partition on x86.
 *
 * The currently only x86 target supported by mcuboot, arduino_101, doesn't
 * have its flash partitions defined in DTS. On the other hand, all ARM-based
 * SoCs currently supported do, and no other arches are currently supported.
 *
 * Keep the build working on x86 until the board(s) in that arch support flash
 * partition layout in DTS.
 */
#ifndef CONFIG_X86
/ {
	chosen {
		zephyr,code-partition = &boot_partition;
	};
};
#endif
