# Copy this file to target.sh and modify to suit your needs

if true; then
	BOARD=96b_carbon
	SOC=STM32F401RE
	BASE_BOOT=0x08000000
	BASE_SLOT0=0x08020000
	BASE_SLOT1=0x08040000
else
	BOARD=frdm_k64f
	SOC=MK64FN1M0VLL12
	BASE_BOOT=0x00000000
	BASE_SLOT0=0x00020000
	BASE_SLOT1=0x00040000
fi

gdbexe=/mnt/linaro/toolchains/aarch32/bin/arm-linux-gnueabihf-gdb
