name: Issue assignment

on:
    issues:
        types: [opened]

jobs:
    auto-assign:
        runs-on: ubuntu-latest
        permissions:
            issues: write
        steps:
            - name: 'Auto-assign issue'
              uses: pozil/auto-assign-issue@v2
              with:
                  repo-token: ${{ secrets.USER_TOKEN }}
                  assignees: d3zd3z, nordicjm, de-nordic, davidvincze
                  allowSelfAssign: true
